.catalog__mobile {
    position: absolute;
    inset: 0;
    width: 100%;
    display: flex;
    height: 100vh;
    z-index: 2;
}
.catalog__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.catalog__header {
    width: 100%;
    height: 46px;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
}
.catalog__close {
    font-size: 20px;
    color: #fff;
}
.catalog__body {
    background-color: #fff;
    max-height: calc(100vh - 46px);
    overflow-y: scroll;
}
.catalog__list {
    width: 100%;
    padding: 0 0 40px;
}
.catalog__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .1px;
    color: #333;
}
.catalog__item__inner {
    display: flex;
    align-items: center;
}
.catalog__icon {
    margin-right: 10px;
}
.catalog__nextBtn {
    font-size: 19px;
}
.catalog__option {
    position: absolute;
    inset: 0;
    top: 46px;
    background-color: #fff;
    height: 100vh;
}
.catalog__box {
    width: 100%;
}
.option__header {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .1px;
    color: #333;
    font-weight: 500;
    padding: 12px 20px;
    background: #f7f7f7;
    width: 100%;
    display: flex;
    align-items: center;
}
.option__header__icon {
    font-size: 20px;
    color: gray;
    margin-right: 2.5rem;
}
.option__item {
    padding: 10px 16px 10px 50px;
}
.option__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    color: gray;
}
.option__box {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .1px;
    color: #333;
    font-weight: 400;
}
