.login__content {
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: #fff;
}

.login__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.login__header {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
}

.login__btn {
    letter-spacing: .2px;
    padding: 19px 26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.login__close {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 15px;
    border-radius: 50%;
    border: 1px solid #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.login__close__icon {
    font-size: 18px;
}

.login__body {
    padding: 40px 15px;
}

.login__box {
    position: relative;
    margin-bottom: 28px;
}
.login__label {
    font-size: 14px;
    line-height: 20px;
    left: 17px;
    top: -10px;
    color: #767676;
    position: absolute;
    transition: .2s;
    padding: 0 4px;
    background-color: #fff;
    height: 16px;
    border-radius: 3px;
    z-index: 1;
}
.login__label >span {
    color: #fbc100;
    margin-left: 3px;
}
.login__input {
    height: 48px;
    border: none;
    border-radius: 6px;
    background: transparent;
    position: relative;
    padding: 0 17px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    box-shadow: 0 0 0 1px #d5d8df;
}
.form__btn {
    cursor: pointer;
    width: 100%;
    margin-top: 0.5em;
    background: #fbc100;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: .4px;
    color: #333;
    padding: 11px 10px;
}
